<h1>Edit Song</h1>
<%= form_for @song, method: "patch" do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :release_year %>
  <%= f.check_box :released %>
  <!--
  <%= f.radio_button :released, true %>
  <%= f.radio_button :released, false %>
  -->
  <%= f.text_field :genre %>
  <%= f.text_field :artist_name %>

  <%= link_to "Delete", @song, method: :delete, data: { confirm: "Really?" } %>
  <%= f.submit "Update" %>
<% end %>
